{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "strict": 0,
    "quotes": [1, "single"],
    "indent": [2, 2],
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "new-cap": 0,
    "no-shadow": 0,
    "no-use-before-define": 0,
    "no-path-concat": 0,
    "brace-style": [2, "1tbs"],
    "no-spaced-func": 2,
    "no-underscore-dangle": 0,
    "eol-last": 0
  },
  "globals": {
    "inject": true,
    "window": true,
    "before": true,
    "beforeEach": true,
    "afterEach": true,
    "after": true,
    "describe": true,
    "it": true
  }
}
